{% extends 'bookshop/base.html' %}
{% load static %}
<title>{% block title %} About | Bookshop{% endblock%}</title>
{% block content %} 
<div class="ps-section">
    <div class="ps-container" style="padding-left: 10%; padding-right: 10%;">
        <div class="ps-section__header text-center">
            <h2 class="ps-section__title">ABOUT</h2>
        </div>
        <div class="ps-section__content">
            <div class="ps-section__text">
                <p>Welcome to Books Shop, your ultimate destination for all things related to books and reading!</p>
                <br>
                <p><strong>Website Name:</strong> Books Shop</p>
                <br>
                <p><strong>Description:</strong></p>
                <p>Books Shop is an e-commerce platform specializing in books, where people can explore, shop, and search for a rich variety of books across many different genres. We are committed to providing the best online book shopping experience, combining convenience with diversity and quality.</p>
                <br>
                <p><strong>Key Features:</strong></p>
                <ul>
                    <li><strong>Diverse Genres:</strong> From novels, business, science, autobiography to children's books and academic literature, Books Shop offers a range of genres to meet all reading needs.</li>
                    <li><strong>AI Integration:</strong> Books Shop uses advanced AI modules to suggest books based on user browsing behavior and reading preferences. The system learns and adjusts over time to provide increasingly accurate and relevant recommendations.</li>
                    <li><strong>Rating and Feedback:</strong> The performance of the AI module is evaluated based on the accuracy of book recommendations and user satisfaction through surveys and feedback. We continuously improve the system to provide the best book shopping experience for everyone.</li>
                    <li><strong>User-Friendly Interface:</strong> Books Shop has a simple, easy-to-use, and user-friendly interface. Advanced search features and filters help users easily find and select books that suit their needs.</li>
                    <li><strong>Dedicated Customer Service:</strong> We are always ready to support customers through a professional customer service system, helping to resolve any issues and questions quickly and efficiently.</li>
                </ul>
                <br>
                <p><strong>Conclusion:</strong></p>
                <p>With the combination of advanced AI technology, diverse books, and dedicated customer service, Books Shop is committed to providing the perfect online book shopping experience for everyone, from passionate readers to newcomers. Come to Books Shop and explore the world of culture through every page of a book!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
